@charset "utf-8";
/* CSS Document */

.add {
	background-image:url(../image/add.ico)!important;
}
.delete {
	background-image:url(../image/delete.ico)!important;
}
.modify {
	background-image:url(../image/modify.ico)!important;
}
.save {
	background-image:url(../image/save.ico)!important;
}
.look {
	background-image:url(../image/ico)!important;
}
.cancel {
	background-image:url(../image/cancel.ico)!important;
}
.back {
	background-image:url(../image/back.ico)!important;
}
.open {
	background-image:url(../image/open.ico)!important;
}
.close {
	background-image:url(../image/close.ico)!important;
}
.search {
	background-image:url(../image/search.ico)!important;
}
.confirm {
	background-image:url(../image/confirm.ico)!important;
}
.displayall {
	background-image:url(../image/displayall.ico)!important;
}
.refuse {
	background-image:url(../image/refuse.ico)!important;
}