<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
           
	<bean id="userDao" class="com.techpark.cm.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="postDao" class="com.techpark.cm.dao.impl.PostDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="elementDao" class="com.techpark.cm.dao.impl.ElementDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="typeDao" class="com.techpark.cm.dao.impl.TypeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tempElementDao" class="com.techpark.cm.dao.impl.TempElementDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="lockerDao" class="com.techpark.cm.dao.impl.LockerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="messageDao" class="com.techpark.cm.dao.impl.MessageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="noticeDao" class="com.techpark.cm.dao.impl.NoticeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tempBorrowDao" class="com.techpark.cm.dao.impl.TempBorrowDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="tempPorDao" class="com.techpark.cm.dao.impl.TempPorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="passBorrowDao" class="com.techpark.cm.dao.impl.PassBorrowDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="passPorDao" class="com.techpark.cm.dao.impl.PassPorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="refuseBorrowDao" class="com.techpark.cm.dao.impl.RefuseBorrowDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="refusePorDao" class="com.techpark.cm.dao.impl.RefusePorDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="imageDao" class="com.techpark.cm.dao.impl.ImageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
